.filterButtons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    grid-gap: 2em;
}

.inside {
    max-width: 1620px;
    margin: auto;
}

.inside h2 {
    margin: 48px 0;
}

@media (max-width: 414px) {
    .inside h2 {
        margin-bottom: 24px;
    }
}
