.feedback {
    position: relative;
    margin: 3em 0;
}

.inside {
    max-width: 1620px;
    margin: auto;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, minmax(351px, 1fr));
    grid-gap: 24px;
    margin: 0 72px;
    overflow: auto;
    background: white;
    padding-bottom: 20px;
}

.container:before, 
.container:after {
    font-family: ofp icons;
    font-style: normal;
    font-weight: 400;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    font-size: 22px;
    height: 22px;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 12px;
    border: 1px solid #2F376B;
    border-radius: 50%;
    cursor: pointer;
}

.container:before {
    content: "\004d";
    left: 0;
}

.container:after {
    content: '\004e';
    right: 0;
}


.item {
    background-color: #f3f4f5;
}

.wrapper {
    padding: 30px 16px;
}

.header {
    padding: 20px 16px;   
}

.header {
    font: 400 24px 'Helvetica';
    background-color: #2F376B;
    color: white;
    border-radius: 4px 4px 0 0;
}

.wrapper > p {
    font: 400 14px/22px 'Helvetica';
    color: #505050;
    margin: 0;
}

.wrapper > div {
    font: 400 20px 'Helvetica';
    color: #2F376B;
    margin: 5px 0 0;
}

.header:before {
    font-family: ofp icons;
    font-style: normal;
    font-weight: 400;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin-right: 16px;
    font-size: 40px;
    vertical-align: text-bottom;
}

.header[data-icon='gaming']:before {
    content: "\0068";
}

.header[data-icon='printer']:before {
    content: "\0049";
}

.header[data-icon='tech']:before {
    content: "\002a";
}

.header[data-icon='knowing']:before {
    content: "\0068";
}

@media (max-width:30em) {
    .container {
        margin: 0;
    }

    .container:before, 
    .container:after {
    display: none;
    }
}