.topbar {
    background: #f3f4f5;
    padding: .5em;
    margin: 0 -.5em;
    font-size: .75em;
}

.inside {
    max-width: 1620px;
    margin: auto;
}

.topbar ul {
    display: flex;
    justify-content: space-between;
}

.topbar li {
    padding: 0 .25em;
}

.topbar a {
    color: #505050;
}